<head>
    <link href="./styles/style.css" rel="stylesheet">
</head>
<div>
    <!--Table to display the products in the database. Will eventually need to retrieve products from the database-->
    <input class="form-control searchBar" data-ng-model="searchText"  type="text" placeholder="Search products">
    <table data-ng-show="searchText" class="table table-hover">
        <thead>
            <tr>
                <th>Product ID</th>
                <th>Product Name</th>
                <th>Price</th>
                <th>Stock</th>
                <th>Quantity</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <!--All thefields-->
            <tr data-ng-repeat="p in products | filter:searchText">
                <td><input type="number" value="{{p.product_id}}" hidden="true">{{p.product_id}}</td>
                <td><input type="text" value="{{p.product_name}}" hidden="true">{{p.product_name}}</td>
                <td><input type="number" value="{{p.product_price}}" hidden="true" />{{p.product_price | currency}}</td>
                <td>{{p.product_stock}}</td>
                <td> <input type="number" id="quantity" ng-attr-id="{{p.product_id + p.product_name}}" min="1" max="99" placeholder="1">
                </td>
                <td><button class="btn btn-primary" data-ng-click="onAdd(p)" Add to sale>Add</button></td>

            </tr>
        </tbody>
    </table>
</div>

<div data-ng-if="salesTable">
    <h2>Sales Information</h2>
    <form method="POST" name="salesForm" data-ng-submit="submitForm(insert.sales, insert.quantity)">
        <table id="productTable" class="table table-hover">
            <thead>
                <tr>
                    <th>Product ID</th>
                    <th>Product Name</th>
                    <th>Price</th>
                    <th>Quantity</th>
                </tr>
            </thead>
            <tbody>
                <tr data-ng-repeat="s in insert.sales track by $index">
                    <td><input name="productId" type="number" value="{{s.product_id}}" hidden="true" />{{s.product_id}}</td>
                    <td><input type="text" value="{{s.product_name}}" hidden="hidden" />{{s.product_name}}</td>
                    <td><input type="number" value="{{s.product_price}}" hidden="true" />{{s.product_price *
                        insert.quantity[$index] | currency}}</td>
                    <td><input name="quantity" type="number" ng-attr-id="{{s.product_id + s.product_name + s.product_id}}"
                            value="{{insert.quantity[$index]}}" data-ng-disabled="!canEdit[$index]" /></td>
                    <td>
                        <button type="button" class="btn btn-success" data-ng-if="canEdit[$index]" data-ng-click="onConfirm(s, $index)">Confirm</button>
                        <button type="button" class="btn btn-warning" data-ng-click="onEdit($index)">Edit</button>
                        <button type="button" class="btn btn-danger" data-ng-click="onDelete(s)">Delete</button>
                    </td>
                </tr>
            </tbody>
        </table>
        <p>Total: {{getTotal() | currency}} </p>

        <button class="btn btn-primary" type="submit">Submit</button>
    </form>

</div>
{{postResponse}}