<head>
    <link href="./styles/style.css" rel="stylesheet">
</head>
<p><strong>Sale ID: </strong> </p>
<p><strong>Sale Date: </strong> </p>


<table class="table table-hover">
        <thead>
            <tr>
                <th>Product ID</th>
                <th>Product Name</th>
                <th>Quantity</th>
                <th>Item Total</th>
            </tr>
        </thead>
        <tbody>
            <tr data-ng-repeat="s in salesRecords | filter:searchText:strict">
                <td> </td>
                <td> </td>
                <td> </td>
                <td> </td>                
            </tr>

        </tbody>

    </table>
    <p><strong>Total: </strong></p>