<head>
    <link href="./styles/style.css" rel="stylesheet">
</head>
<div>
    <input class="form-control searchBar" data-ng-model="searchText.sale_id" type="text" placeholder="Search sales by Sale ID">
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Sale ID</th>
                <th>Total items</th>
                <th>Total price</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr data-ng-repeat="s in salesRecords | filter:searchText:strict">
                <td>{{s.sale_id}}</td>
                <td>{{s.TotalItems}}</td>
                <td>${{s.orderTotal}}</td>
                <td>
                    <a href="#!ViewSingleSale"><button class="btn btn-primary">View</button></a>
					<button class="btn btn-danger" data-ng-click="Delete(s.sale_id)">Delete</button>
                </td> 
                <td></td>
                
            </tr>

        </tbody>

    </table>
   {{deleteResponse}}
</div>