@import url('https://fonts.googleapis.com/css?family=Kodchasan|Niramit');

* {
    font-family: 'Kodchasan', sans-serif;
}

table {
    text-align: center;
    color: #E0F2E9;
    background-color: pink;
}

p {
    color: #E0F2E9;

}

.searchBar {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

body {
    background-color: #2B3D41;
}

h1 {
    margin-top: 5rem;
    margin-bottom: 2rem;

}

h2 {
    margin-bottom: 5rem;
}

h1, h2 {
    text-align: center;
    color: #E0F2E9;
}


.flex-container {
    display: flex;
    justify-content: center;
    font-size: 20px;
}

a {
    margin-right: 10px;
}